<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Treenisovellus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kirjautuminen</h1>
	<div th:if="${param.error}">
		Käyttäjätunnus ja salasana ei täsmännyt. Yritä uudelleen.
	</div>
	<div th:if="${param.logout}">
		Kirjauduit ulos.
	</div>
	<form th:action="@{/kirjautuminen}" method="post">
		<div><label>Käyttäjätunnus: <input type="text" name="username"/></label></div>
		<div><label>Salasana: <input type="password" name="password"/></label></div>
		<div><input type="submit" value="Kirjaudu"/></div>
	</form>
	<a th:href="@{/rekisteroituminen}">Rekisteröidy</a>
</body>
</html>