<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Training Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<h1>Login</h1>
	<div th:if="${param.error}">
		Username and password don't match. Try again.
	</div>
	<div th:if="${param.logout}">
		You logged out.
	</div>
	<form th:action="@{/login}" method="post">
		<div><label>Username: <input type="text" name="username"/></label></div>
		<div><label>Password: <input type="password" name="password"/></label></div>
		<div><input type="submit" value="Login" class="btn btn-primary"/></div>
	</form>
	<a th:href="@{/registeration}">Registeration</a>
</body>
</html>